.container {
  margin: 0 auto;
}

.header {
  height: 100vh;
  background: linear-gradient( #ecf2f8, white);
}

.header-nav {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;

}

.nav-logo {
  width: 110px;
}

.nav-item {
  color: #010624;
}

.nav-item:hover{
  color: #A1C4FD;
  text-decoration: underline;
}



.footer {
  background-color: #F2F6FA;
  height: 115px;
}

.footer-nav{
  width: 572px;
  display: flex;
  justify-content: space-around;
}

.f-nav-item {
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
color: #5c5c6d;
}

.main-hello {
    position: relative;
    top: -770px;
    z-index: 0;
}

.hello-name {
    position: absolute;
    z-index: -3;
}

.hello-text {
    position: absolute;
    top: -10px;
font-weight: lighter;
font-size: 36px;
color: #868686;
font-family: var(--font-family);
}

.hello-kalyan {
    position: absolute;
    z-index: -2;
    top: -130px;
}

.hello-fog1{
    width: 900px;
    position: absolute;
    left: 0;
    bottom: -900px;
    z-index: -1;
}

.hello-fog2{
    width: 900px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

// .main {
    
//     // background-color: linear-gradient(#2893ff, white);
// }

.hello-portal{
width: 350px;
position: absolute;
right: 0;
top: 300px;
}

body {
  background: linear-gradient( #ecf2f8, white);
}

.kalyan-wrap{
  padding-top: 900px;
}

.subtitle-wrap {
  margin: 0 auto;
  width: 1000px;
}

.main-subtitle{
  position: relative;
  top: 550px;
}

.vector-one {
  position: absolute;
  width: 90px;
  z-index: -2;
}
.vector-two {
  position: absolute;
left: -15px;
bottom: 5px;
  width: 90px;
  z-index: -1;
}

.vector-two2{
  position: absolute;
right: -15px;
top: 5px;
  width: 90px;
  z-index: -1;
}

.main-title {
  font-family: var(--font-family);
font-weight: 400;
font-size: 24px;
text-align: center;
color: #010624;
}

.chertochka {
  border: 1px solid #9cabff;
width: 60px;
margin: 20px auto;
}


.item-text {
  position: absolute;
  font-family: var(--font-family);
font-weight: 700;
font-size: 36px;
text-align: right;
color: #010624;
}

.subtitle-item:first-child{
  display: flex;
  justify-content: start;
  align-items: end;
  }

.subtitle-item:last-child{
display: flex;
justify-content: end;
align-items: start;
}