.container {
  margin: 0 auto;
}

.header {
  height: 100vh;
  background: linear-gradient(white, 10%, #ecf2f8, white);
}

.header-nav {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  width: 110px;
}

.nav-item {
  color: #010624;
  transition: all 0.5s;
}

.nav-item:hover {
  text-decoration: underline;
  color: #a1c4fd;
}

.footer {
  background-color: #f2f6fa;
  height: 115px;
  padding: 23px 0;
}

.footer-wrap {
  width: 572px;
}

.footer-nav {

  display: flex;
  justify-content: space-between;
}

.f-nav-item {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #5c5c6d;
}

.main-hello {
  position: relative;
  top: -770px;
  z-index: 0;
}

.hello-name {
  position: absolute;
  z-index: -3;
}

.hello-text {
  position: absolute;
  top: -10px;
  font-weight: lighter;
  font-size: 36px;
  color: #868686;
  font-family: var(--font-family);
}

.hello-kalyan {
  position: absolute;
  z-index: -2;
  top: -130px;
}

.hello-fog1 {
  width: 900px;
  position: absolute;
  left: 0;
  bottom: -900px;
  z-index: -1;
}

.hello-fog2 {
  width: 900px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

// .main {

//     // background-color: linear-gradient(#2893ff, white);
// }

.hello-portal {
  width: 350px;
  position: absolute;
  right: 0;
  top: 300px;
}

// body {
//   background: linear-gradient( #ecf2f8, white);
// }

.kalyan-wrap {
  padding-top: 900px;
}

.subtitle-wrap {
  margin: 0 auto;
  width: 1000px;
}

.main-subtitle {
  position: relative;
  top: 550px;
}

.vector-one {
  position: absolute;
  width: 90px;
  z-index: -2;
}
.vector-two {
  position: absolute;
  left: -15px;
  bottom: 5px;
  width: 90px;
  z-index: -1;
}

.vector-two2 {
  position: absolute;
  right: -15px;
  top: 5px;
  width: 90px;
  z-index: -1;
}

.main-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #010624;
}

.chertochka {
  border: 1px solid #9cabff;
  width: 60px;
  margin: 20px auto;
}

.item-text {
  position: absolute;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  text-align: right;
  color: #010624;
}

.subtitle-item:first-child {
  display: flex;
  justify-content: start;
  align-items: end;
}

.subtitle-item:last-child {
  display: flex;
  justify-content: end;
  align-items: start;
}

.product-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #000;
}

.product-category {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #a1c4fd;
}

.product-taste {
  display: flex;
  gap: 5px;
}
.taste-item {
  display: flex;
  justify-content: center;
  background: #f2f6fa;
  border-radius: 50px;
  width: 70px;
  height: 26px;
}

.tabacks-aside {
  width: 255px;
  height: 635px;
}

// .tabacks-article {
//   display: flex;
//   width: 1000px;
// }
// .tabacks-aside {
//   display: block;

.tabacks-wrap {
  display: flex;
}

.tabacks-header {
  text-align: center;
}

.header-desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  text-align: center;
  color: #5c5c6d;
}
.header-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #010624;
}

.cards-tabacks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tabacks-catalog {
  background: white;
}

.tabacks-article {
  justify-content: center;
  width: 1000px;
}

.vector-two3 {
  position: absolute;
  //  left: 350px;
  // top: 5px;
  width: 110px;
  z-index: -1;
}

.create-section-one {
  padding-top: 100px;
  background: url(./../src/img/fogMan.png);
  background-size: cover;
}

.title-item {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 64px;
  color: #010624;
  text-align: end;
  margin-bottom: 20px;
}

.create-desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #5c5c6d;
  display: flex;
  justify-content: end;
  text-align: end;
}

.create-title-popular {
  text-align: center;
}

.create-title {
  height: 435px;
}

.main {
  margin-top: 300px;
}

.card-product {
  width: 300px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #f2f6fa;
  transition: all 1s
}

.card-product:hover {
  border-radius: 8px;
  background-color: #f2f6fa;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.product-image {
  margin: auto;
}

.create-section-two {
  background: linear-gradient(#ecf2f8, white);
}

.aside {
  background: #f7fafc;

}

.aside-wrap {
  display: flex;
  padding-top: 140px;
}

.login-text {
  font-family: var(--font-family);
font-weight: 400;
font-size: 15px;
line-height: 150%;
color: #5c5c6d;
}

.button-area {
  display: flex;
  gap: 20px;
}

.btn-image {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.login-btn {
  width: 50px;
  height: 50px;
  background: #fff;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.02);
  border-radius: 50%; 
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}


.login-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: #010624;
}

.not-found {
  background: url(./../src/img/404.webp);
  background-size: cover;
  height: 130vh;
}




#mapVid {
  position: fixed;
 left: 50%;
 top: 0;
 transform: translateX(-50%);
  min-width: 100%;
  min-height: 165%;
  overflow: hidden;
  z-index: -100;
}

.map-wrap {
  height: 80vh;
}


.cards-lounges {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.lounges-catalog {
  background: white;
}

.lounges-article {
  justify-content: center;
  width: 1000px;
}


.lounges-wrap {
  display: flex;
}

.lounges-header {
  text-align: center;
  margin-top: 15px;
}

.lounges-aside {
  width: 255px;
  height: 635px;
}


.product-loc {
  font-family: var(--font-family);
font-weight: 700;
font-size: 10px;
text-transform: uppercase;
color: #ff0013;
}


.cards-mixes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.mixes-catalog {
  background: white;
}

.mixes-article {
  justify-content: center;
  width: 1000px;
}


.mixes-wrap {
  display: flex;
}

.mixes-header {
  text-align: center;
  margin-top: 15px;
}

.mixes-aside {
  width: 255px;
  height: 635px;
}

